<% include ../Metadata/header %>
<div class="ui inverted centered grid segment">
	<form class="ui inverted form" action="/search" method="post">
		<div class="fields">
			<div class="field">
				<label class="heading">Enter Username To Search</label>
				<input type="text" name="username" placeholder="7508XXXXXX">
			</div>
		</div>
		<input type="submit" class="ui submit blue button" value="Search">
	</form>
</div>
<%if(x){%>
<div class="ui inverted padded segment">
	<div class="ui stackable centered grid" style="overflow:scroll;height:720px;width:100%;overflow:auto;">
	<% include ../Metadata/row %>
	<div class="row display">
			<div class="sixteen wide column" style="text-align:center;">Full Name : <%=user.name%></div>
		</div>
		<% include ../Metadata/row %>
		<div class="row display">
			<div class="four wide column">Phone NO : </div>
			<div class="four wide column"><%=user.username%> </div>
			<div class="four wide column col"> <strong>Due Amount : </strong></div>
			<div class="four wide column col"> <strong><%=user.total%></strong></div>
		</div>
		<% include ../Metadata/row %>
		<div class="row heading">
			<div class="one wide column">Sr NO.</div>
			<div class="two wide column">AREA</div>
			<div class="four wide column">EQUIPMENT</div>
			<div class="four wide column">LOCATION</div>
			<div class="two wide column">PAYMENT</div>
			<div class="two wide column">DATE</div>
		</div>
	<% var i=1;%>
	<% content.forEach(function(detail){ %>
		<div class="row data">
			<div class="one wide column"><%=i%></div>
			<div class="two wide column"><%=detail.area%></div>
			<div class="four wide column"><%=detail.equip%></div>
			<div class="four wide column"><%=detail.loc%></div>
			<div class="two wide column"><%=detail.payment%></div>
			<div class="two wide column"><%=detail.date.toLocaleDateString().replace(/(\d+)\/(\d+)\/(\d+)/, '$2/$1/$3')%></div>
		</div>
		<%i+=1;%>
	<% }) %>
	<% include ../Metadata/row %>
	</div>
</div>
<%}%>
<% include ../Metadata/footer %>