<% include ../Metadata/header %>
<%if(y){%>
<div class="ui inverted centered grid segment">
	<form class="ui inverted form" action="/search" method="post">
		<div class="fields">
			<div class="field">
				<label class="heading">Enter Username To Search</label>
				<input type="text" name="username" placeholder="7508XXXXXX">
			</div>
		</div>
		<input type="submit" class="ui submit blue button" value="Search">
	</form>
</div>
<%}%>
<%if(x){%>
<div class="ui inverted padded segment">
	<div class="ui stackable centered grid" style="overflow:scroll;height:720px;width:100%;overflow:auto;">
	<% include ../Metadata/row %>
	<div class="one column row display">
			<div class="column" style="text-align:center;">Full Name : <%=formatTitle.capWords(user.name)%></div>
		</div>
		<% include ../Metadata/row %>
		<div class="four column row display">
			<div class="column">Phone NO : </div>
			<div class="column"><%=user.username%> </div>
			<%if(user.total>=0){%>
			<div class="column colred"> <strong>Due Amount : </strong></div>
			<div class="column colred"> <strong><%=user.total%></strong></div>
			<%} else {%>
				<div class="column colgreen"> <strong>You Owe: </strong></div>
				<div class="column colgreen"> <strong><%=Math.abs(user.total)%></strong></div>
			<%}%>
		</div>
		<% include ../Metadata/row %>
		<div class="six column row heading">
			<div class="column">Sr NO.</div>
			<div class="column">AREA</div>
			<div class=" column">EQUIPMENT</div>
			<div class=" column">LOCATION</div>
			<div class="column">PAYMENT</div>
			<div class="column">DATE</div>
		</div>
	<% var i=1;%>
	<% content.forEach(function(detail){ %>
		<div class="six column row data">
			<div class="column"><%=i%></div>
			<div class="column"><%=detail.area%></div>
			<div class=" column"><%=detail.equip%></div>
			<div class=" column"><%=detail.loc%></div>
			<div class="column"><%=detail.payment%></div>
			<div class="column"><%=moment(detail.date).format("DD/MM/YYYY")%></div>
		</div>
		<%i+=1;%>
	<% }) %>
	<% include ../Metadata/row %>
	<div class="four column row">
		<div class="column colred">Total Due Amount</div>
		<div class="column colred"><%=user.dtotal%></div>
		<div class="column colgreen">Total Paid Amount</div>
		<div class="column colgreen"><%=user.ctotal%></div>
	</div>
	</div>
</div>
<%}%>
<% include ../Metadata/footer %>